/* CHRISTIAN CHANGES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notification {
  overflow: hidden;
}

.container-indorsement {
  background-image: url("./miniproject-images/intro-bg-final.png");
  height: 80vh;
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container-indorsement img {
  height: 200px;
}
