/* CHRISTIAN CHANGES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
font-family: 'Forum', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Ysabeau Infant', sans-serif; */
body {
  font-family: "Forum", cursive;
  font-family: "Noto Sans", sans-serif;
}
main {
  display: block;
}
.font-header {
  color: #032d60;
  font-family: "Questrial", sans-serif;
  font-size: 3em;
  letter-spacing: -0.012em;
  line-height: 64px;
}

.container-indorsement {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}

.container-indorsement {
  height: 540px;
}

.container-indorsement > div:first-child {
  padding: 64px 0;
  display: grid;
  grid-template-columns: repeat(12, 70px);
  height: 600px;
  width: 1210px;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin: 0 46px;
}

.indorsement-desc {
  grid-column: 1 / span 6;
}
.indorsement-img {
  grid-column: 8 / span 5;
}

.indorsement-img img {
  height: auto;
  width: 100%;
}

/* .bg-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 530px;
}

.bg-holder img {
  width: 100%;
  object-position: bottom;
  object-fit: cover;
  height: 100%;
} */

.secondbg {
  width: 100%;
  object-position: top;
  object-fit: cover;
  height: auto;
}
.button {
  margin-top: 40px;
  margin-right: 10px;
  width: 150px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}
.start-trial {
  background: #0176d3;
  color: white;
}

.watch-demo {
  color: #0176d3;
  border: 1px solid #0176d3;
  background-color: white;
}
.product-demo {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 25px;
}

.container-demos {
  margin-top: 10px;
  grid-template-rows: 50px 1fr;
  align-items: center;
}

.container-demos {
  position: relative;
  width: 100%;
  display: block;
  place-items: center;
  height: 1200px;
}

/* .container-demos > div:first-child {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 130px 1fr;
  height: 1000px;
} */

.container-demos > div:first-child {
  padding: 64px 0;
  display: grid;
  grid-template-rows: 150px 1fr 150px;
  grid-template-columns: repeat(12, 70px);
  height: 1000px;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin: 0 46px;
}

.product-demo article {
  /* box-shadow: 0 4px 2px -2px gray; */
  /* box-shadow: 0 0 3px #ccc; */
  box-shadow: -1px 1px 5px 2px gray;
}
.card-demo {
  border-radius: 15px;
  height: 450px;
  width: 290px;
  background: #fff;
}

.product-header {
  grid-column: 3 / span 6;
  width: 840px;
  text-align: center;
}

.product-demo {
  grid-column: 1 / span 12;
}

.img-demo img {
  max-width: 100%;
  border-radius: 5px;
}

.content-demo {
  font-family: "Questrial", sans-serif;
  justify-content: space-between;
  height: 280px;
}

.title-demo {
  color: #032d60;
  font-family: "Questrial", sans-serif;
}
.desc-demo {
  margin: 40px;
  height: 100px;
}

.watch-demo {
  margin-left: 32px;
}
.desc-demo p {
  padding-top: 30px;
}

.section-demo {
  border: none;
}

.button-products {
  grid-column: 6 / span 2;
}

.button-products button {
  border: none;
  height: 50px;
  border-radius: 5px;
  width: 230px;
  background: #fff;
  border: 2px solid #0176d3;
  color: #0176d3;
  font-size: 16px;
}

.about-us {
  position: relative;
  display: block;
  height: 500px;
  overflow: hidden;
}

.about-us > div:first-child {
  place-items: center;
  text-align: center;
  display: grid;
  width: 100%;
  padding: 50px 0;
  grid-template-rows: 300px 40px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(12, 70px);
  column-gap: 40px;
  row-gap: 40px;
}

.content-about-us {
  grid-column: 3 / span 8;
}

.about-us-demo-buttons {
  grid-column: 4 / span 6;
}

.footer-trademarks {
  /* grid-template-columns: 300px 1fr;
  column-gap: 20px;
  font-size: 12px;
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  display: grid; */
  column-gap: 20px;
  font-size: 12px;
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  line-height: 40px;
  background-color: #032e61;
  color: white;
}

.footer-trademarks > div:first-child {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.footer-trademarks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copyrigths {
  margin: 0 300px;
}

.footer-copyrigths ul {
  display: inline-flex;
}

.allright {
  color: #00a1e0;
}
.allright:hover {
  color: white;
}
.footer-nav {
  display: flex;
  padding: 0;
}

.footer-nav li {
  list-style-type: none;
}

.footer-nav a {
  margin-right: 24px;
  padding: 0;
  color: #00a1e0;
}

.footer-nav a:hover {
  color: white;
}

.container-indorsement {
  background-image: url("miniproject-images/intro-bg-final.png");

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.container-demos {
  background-image: url("miniproject-images/demos-bg-f.2.png");

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.button-f-world {
  border: 1px solid white;
  background: none;
  color: white;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 18px;
}

.globe-outline {
  color: white;
  font-size: 20px;
}

.about-us-customer > div:first-child {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: 250px 100px 1fr;
  column-gap: 30px;
  height: 900px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  place-items: center;
  text-align: center;
}

.cust-header {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / span 10;
}

.a-us-cust-button {
  grid-column: 4 / span 6;
}

.customer-container {
  display: inline-flex;
  justify-content: space-between;
  grid-column: 3 / span 8;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}

.card-customer {
  height: 100px;
  width: 200px;
  border-radius: 5px;
  margin: 1em 0;
  background: #fff;
  box-shadow: -1px 1px 5px 2px rgb(190, 188, 188);
}

.card-customer img {
  border-radius: 5px;
  padding: 30px 20px 20px 20px;
  height: 80px;
  width: 100px;
}

.about-us-customer {
  background-image: url("miniproject-images/section-4.png");
  border-bottom-left-radius: 150% 825px;
  border-bottom-right-radius: 150% 825px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
